extends _layout/layout

block variables
	- var title = "Landing page"
	- var bodyclass = ""

block body 
	include _layout/header
	//- include _layout/banner
	main
		include _pages/ct-landingpage3
	include _layout/footer