extends _layout/layout

block variables
	- var title = "LUG mobile"
	- var bodyclass = "categorypage"

block body 
	include _layout/header
	//- include _layout/banner
	main
		include _pages/ct-nganhhang
	include _layout/footer