extends _layout/layout

block variables
	- var title = "LUG mobile"
	- var bodyclass = "userpage"

block body 
	include _layout/header
	//- include _layout/banner
	main
		include _layout/userheader
		include _pages/ct-taikhoanct3
	include _layout/footer