extends _layout/layout

block variables
	- var title = "LUG mobile"
	- var bodyclass = "productpage"

block body 
	include _layout/header
	//- include _layout/banner
	main
		include _pages/ct-thuonghieu
	include _layout/footer