include ../_layout/filter
section.product-page
	.deal-nav
		ul
			li.active
				a(href="#!") Đang bán
			li
				a(href="#!") Ngày mai
			li
				a(href="#!") Ngày mốt
			li
				a(href="#!") Ngày kia
			li
				a(href="#!") ngày nọ
	.deal-countdown Kết thúc trong
		span 01 
			.label ngày
		|: 
		span 17
			.label giờ
		|:
		span 02
			.label phút
		|:
		span 58
			.label giây
	.deal-banner
		.item
			img(src="img/dealbn.png", alt="")
	.product-list.deal-list
		.item
			.deal-item
				a.img(href="#!")
					img(src="img/hc1.png", alt="")
				.caption
					h3.name 
						a(href="#!") Vali kéo nhựa ABC chống trộm
					.price
						.new 135.000 đ
						.old 
							del 270.000 đ
							span - 50%
					.amount Còn 156 sản phẩm
					.deal-btn
						a.btn-buy(href="#!") Mua ngay
		.item
			.deal-item
				a.img(href="#!")
					img(src="img/hc1.png", alt="")
				.caption
					h3.name 
						a(href="#!") Vali kéo nhựa ABC chống trộm
					.price
						.new 135.000 đ
						.old 
							del 270.000 đ
							span - 50%
					.amount Còn 156 sản phẩm
					.deal-btn
						a.btn-buy(href="#!") Mua ngay
		.item
			.deal-item
				a.img(href="#!")
					img(src="img/hc1.png", alt="")
				.caption
					h3.name 
						a(href="#!") Vali kéo nhựa ABC chống trộm
					.price
						.new 135.000 đ
						.old 
							del 270.000 đ
							span - 50%
					.amount Còn 156 sản phẩm
					.deal-btn
						a.btn-buy(href="#!") Mua ngay
		.item
			.deal-item
				a.img(href="#!")
					img(src="img/hc1.png", alt="")
				.caption
					h3.name 
						a(href="#!") Vali kéo nhựa ABC chống trộm
					.price
						.new 135.000 đ
						.old 
							del 270.000 đ
							span - 50%
					.amount Còn 156 sản phẩm
					.deal-btn
						a.btn-buy(href="#!") Mua ngay
		.item
			.deal-item
				a.img(href="#!")
					img(src="img/hc1.png", alt="")
				.caption
					h3.name 
						a(href="#!") Vali kéo nhựa ABC chống trộm
					.price
						.new 135.000 đ
						.old 
							del 270.000 đ
							span - 50%
					.amount Còn 156 sản phẩm
					.deal-btn
						a.btn-buy(href="#!") Mua ngay
		.item
			.deal-item
				a.img(href="#!")
					img(src="img/hc1.png", alt="")
				.caption
					h3.name 
						a(href="#!") Vali kéo nhựa ABC chống trộm
					.price
						.new 135.000 đ
						.old 
							del 270.000 đ
							span - 50%
					.amount Còn 156 sản phẩm
					.deal-btn
						a.btn-buy(href="#!") Mua ngay
	.pages
		ul.pagination
			li.active
				a(href="#!") 1
			li
				a(href="#!") 2
			li
				a(href="#!") 3
			li
				a(href="#!") 4