section.cart-page
	.cart-step
		.cart-finish.success
			i.fa.fa-check-circle
			.content
				p Mã đơn hàng: 
					strong 123456789
				p Thông tin chi tiết đơn hàng sẽ được gửi đến email của bạn
					br
					|Mọi thắc mắc xin vui lòng liên hệ Hotline 
					a.text-red(href="#!") 1800 6646 
					|hoặc email đến 
					a.text-red(href="#!") info@lug.vn
					br
					|Cảm ơn bạn đã đặt hàng. Đơn hàng của bạn sẽ được xử lý trong thời gian sớm nhất. Chúng tôi sẽ liên hệ lại với bạn để xác nhận yêu cầu và giao hàng.