section.home-deal
	.page-title Deal chớp nhoáng
	.deal-countdown Kết thúc trong
		span 01 
		| : 
		span 17
		|:
		span 02
	.deal-list
		.row.no-gutters
			.col-5
				.deal-item.big
					figure
						.img
							img(src="img/deal1.jpg", alt="")
						figcaption
							.price
								.new 66.000 đ
								.old 124.000 đ
									span -47%
			.col-7
				.deal-item
					figure
						.img
							img(src="img/deal1.jpg", alt="")
						figcaption
							.price
								.new 66.000 đ
								.old 124.000 đ
									span -47%
				.deal-item
					figure
						.img
							img(src="img/deal1.jpg", alt="")
						figcaption
							.price
								.new 66.000 đ
								.old 124.000 đ
									span -47%
				.deal-item
					figure
						.img
							img(src="img/deal1.jpg", alt="")
						figcaption
							.price
								.new 66.000 đ
								.old 124.000 đ
									span -47%
	.btn-wrap
		a.btn-viewmore(href="#!") Xem thêm
section.home-search
	.page-title Tìm kiếm phổ biến
	.search-wrap
		.search-list
			.item
				a.search-item(href="#!")
					.caption
						.name Bán chạy
						.des 600 người muốn mua
					.img
						img(src="img/s1.webp", alt="")
			.item
				a.search-item(href="#!")
					.caption
						.name Bán chạy
						.des 600 người muốn mua
					.img
						img(src="img/s1.webp", alt="")
			.item
				a.search-item(href="#!")
					.caption
						.name Bán chạy
						.des 600 người muốn mua
					.img
						img(src="img/s1.webp", alt="")
			.item
				a.search-item(href="#!")
					.caption
						.name Bán chạy
						.des 600 người muốn mua
					.img
						img(src="img/s1.webp", alt="")
section.home-collection
	.page-title Bộ sưu tập
	.collection-wrap
		.collection-list
			.item
				a.collection-item(href="#!")
					.product-wrap
						.product.big
							img(src="img/deal1.jpg", alt="")
						.product
							img(src="img/deal1.jpg", alt="")
						.product
							img(src="img/deal1.jpg", alt="")
					.caption
						.name Vali kéo giá tốt
						.des 300 sản phẩm
			.item
				a.collection-item(href="#!")
					.product-wrap
						.product.big
							img(src="img/deal1.jpg", alt="")
						.product
							img(src="img/deal1.jpg", alt="")
						.product
							img(src="img/deal1.jpg", alt="")
					.caption
						.name Vali kéo giá tốt
						.des 300 sản phẩm
			.item
				a.collection-item(href="#!")
					.product-wrap
						.product.big
							img(src="img/deal1.jpg", alt="")
						.product
							img(src="img/deal1.jpg", alt="")
						.product
							img(src="img/deal1.jpg", alt="")
					.caption
						.name Vali kéo giá tốt
						.des 300 sản phẩm
	.btn-wrap
		a.btn-viewmore(href="#!") Xem thêm
section.home-brand
	.page-title Thương hiệu
	.brand-wrap
		.brand-list
			.item
				a.brand-item(href="#!")
					.img
						img(src="img/brand-bn1.jpg", alt="")
					.caption
						.logo
							img(src="img/brand1.jpg", alt="")
						.name ELLE
						.des 250 sản phẩm
			.item
				a.brand-item(href="#!")
					.img
						img(src="img/brand-bn1.jpg", alt="")
					.caption
						.logo
							img(src="img/brand1.jpg", alt="")
						.name ELLE
						.des 250 sản phẩm
			.item
				a.brand-item(href="#!")
					.img
						img(src="img/brand-bn1.jpg", alt="")
					.caption
						.logo
							img(src="img/brand1.jpg", alt="")
						.name ELLE
						.des 250 sản phẩm
	.btn-wrap
		a.btn-viewmore(href="#!") Xem thêm
section.home-category
	.page-title Ngành hàng nổi bật
	.category-wrap
		.category-list
			.item
				a.category-item(href="#!")
					.img
						img(src="img/hc1.png", alt="")
					.name Vali kéo nhựa
			.item
				a.category-item(href="#!")
					.img
						img(src="img/hc2.png", alt="")
					.name Vali kéo vải
			.item
				a.category-item(href="#!")
					.img
						img(src="img/hc3.jpg", alt="")
					.name Vali kéo trẻ em
			.item
				a.category-item(href="#!")
					.img
						img(src="img/hc4.png", alt="")
					.name Balo thời trang
			.item
				a.category-item(href="#!")
					.img
						img(src="img/hc5.png", alt="")
					.name Balo phượt
			.item
				a.category-item(href="#!")
					.img
						img(src="img/hc6.png", alt="")
					.name Balo trẻ em
	.btn-wrap
		a.btn-viewmore(href="#!") Xem thêm
section.home-product
	.page-title Dành riêng cho bạn
	.product-wrap
		.product-list
			.item
				a.product-item(href="#!")
					.img
						img(src="img/hc1.png", alt="")
					.caption
						.name Vali kéo nhựa ABC chống trộm
						.price
							.new 135.000 đ
							.old 
								del 270.000 đ
								span - 50%
						.rating 
							select.bar-rating
								option(value='1') 1
								option(value='2') 2
								option(value='3') 3
								option(value='4' selected="selected") 4
								option(value='5') 5
							span (10)
			.item
				a.product-item(href="#!")
					.img
						img(src="img/hc2.png", alt="")
					.caption
						.name Vali kéo nhựa ABC chống trộm
						.price
							.new 135.000 đ
							.old 
								del 270.000 đ
								span - 50%
						.rating 
							select.bar-rating
								option(value='1') 1
								option(value='2') 2
								option(value='3') 3
								option(value='4' selected="selected") 4
								option(value='5') 5
							span (10)
			.item
				a.product-item(href="#!")
					.img
						img(src="img/hc3.jpg", alt="")
					.caption
						.name Vali kéo nhựa ABC chống trộm
						.price
							.new 135.000 đ
							.old 
								del 270.000 đ
								span - 50%
						.rating 
							select.bar-rating
								option(value='1') 1
								option(value='2') 2
								option(value='3') 3
								option(value='4' selected="selected") 4
								option(value='5') 5
							span (10)
			.item
				a.product-item(href="#!")
					.img
						img(src="img/hc4.png", alt="")
					.caption
						.name Vali kéo nhựa ABC chống trộm
						.price
							.new 135.000 đ
							.old 
								del 270.000 đ
								span - 50%
						.rating 
							select.bar-rating
								option(value='1') 1
								option(value='2') 2
								option(value='3') 3
								option(value='4' selected="selected") 4
								option(value='5') 5
							span (10)
			.item
				a.product-item(href="#!")
					.img
						img(src="img/hc5.png", alt="")
					.caption
						.name Vali kéo nhựa ABC chống trộm
						.price
							.new 135.000 đ
							.old 
								del 270.000 đ
								span - 50%
						.rating 
							select.bar-rating
								option(value='1') 1
								option(value='2') 2
								option(value='3') 3
								option(value='4' selected="selected") 4
								option(value='5') 5
							span (10)
			.item
				a.product-item(href="#!")
					.img
						img(src="img/hc6.png", alt="")
					.caption
						.name Vali kéo nhựa ABC chống trộm
						.price
							.new 135.000 đ
							.old 
								del 270.000 đ
								span - 50%
						.rating 
							select.bar-rating
								option(value='1') 1
								option(value='2') 2
								option(value='3') 3
								option(value='4' selected="selected") 4
								option(value='5') 5
							span (10)
