section.landing-section1
	.bg.d-none.d-lg-block(style="background: url(img/bg1.png) center center no-repeat;background-size:cover")
	.img.d-block.d-lg-none.text-center
		img.w-100(src="img/bg1m.png", alt="")
	.container
		.row
			.col-12.col-lg-6
				.content.text-center
					p Từ 14/05 - 31/07. 
						a.text-blue(href="#!") Xem thông tin.
					.img
						img(src="img/img1.png", alt="")
				.btn-wrap.text-center.mb-3
					a.btn-primary(href="#!") Chọn mua điện thoại nokia
				.share
					img(src="img/share.jpg", alt="")
section.landing-section2
	.bg(style="background: url(img/bg2.png) center bottom no-repeat;background-size:cover")
	//- .mobile-bg(style="background: url(img/bg1.png) center center no-repeat;background-size:cover")
	.container
		.row
			.col-12.col-lg-6
				.img.text-center
					img(src="img/img2.png", alt="")
			.col-12.col-lg-6
				.product-detail.text-center
					.name NOKIA 7 Plus
					.price Giá bán
						strong 8.990.000 đ
					a.link.text-blue(href="#!") Chi tiết sản phẩm
					.sale
						img(src="img/img3.png", alt="")
					.btn-wrap.text-center
						a.btn-primary.mr-2(href="#!") Mua ngay
						a.btn-secondary(href="#!") Trả góp
section.landing-section3
	.bg(style="background: url(img/bg3.png) center bottom no-repeat;background-size:cover")
	//- .mobile-bg(style="background: url(img/bg1.png) center center no-repeat;background-size:cover")
	.container
		.row
			.col-12.col-lg-6
				.img.text-center
					img(src="img/img4.png", alt="")
			.col-12.col-lg-6
				.product-detail.text-center
					.name NOKIA 6 new
					.price Giá bán
						strong 5.990.000 đ
					a.link.text-blue(href="#!") Chi tiết sản phẩm
					.sale
						img(src="img/img5.png", alt="")
					.btn-wrap.text-center
						a.btn-primary.mr-2(href="#!") Mua ngay
						a.btn-secondary(href="#!") Trả góp
section.landing-section4
	.bg(style="background: url(img/bg4.png) center bottom no-repeat;background-size:cover")
	.container
		.home-title.text-center KHUYẾN MÃI ĐIỆN THOẠI NOKIA KHÁC
		.product-sale-list
			.row
				.col-12.col-lg-6
					.product
						figure
							a.product-img(href="#!")
								img(src="img/pr1.jpg", alt="")
							figcaption
								.product-name Nokia 3
								.product-price
									.old
									.new 2.790.000 đ
								.product-sale
									.title Khuyến mãi
									.content
										ul
											li Tặng Phiếu mua hàng 200.000đ
								.product-btn
									a.btn-primary(href="#!") Mua ngay
									a.btn-secondary(href="#!") Trả góp
				.col-12.col-lg-6
					.product
						figure
							a.product-img(href="#!")
								img(src="img/pr1.jpg", alt="")
							figcaption
								.product-name Nokia 3
								.product-price
									.old
									.new 2.790.000 đ
								.product-sale
									.title Khuyến mãi
									.content
										ul
											li Tặng Phiếu mua hàng 200.000đ
								.product-btn
									a.btn-primary(href="#!") Mua ngay
									a.btn-secondary(href="#!") Trả góp
				.col-12.col-lg-6
					.product
						figure
							a.product-img(href="#!")
								img(src="img/pr1.jpg", alt="")
							figcaption
								.product-name Nokia 3
								.product-price
									.old
									.new 2.790.000 đ
								.product-sale
									.title Khuyến mãi
									.content
										ul
											li Tặng Phiếu mua hàng 200.000đ
								.product-btn
									a.btn-primary(href="#!") Mua ngay
									a.btn-secondary(href="#!") Trả góp
				.col-12.col-lg-6
					.product
						figure
							a.product-img(href="#!")
								img(src="img/pr1.jpg", alt="")
							figcaption
								.product-name Nokia 3
								.product-price
									.old
									.new 2.790.000 đ
								.product-sale
									.title Khuyến mãi
									.content
										ul
											li Tặng Phiếu mua hàng 200.000đ
								.product-btn
									a.btn-primary(href="#!") Mua ngay
									a.btn-secondary(href="#!") Trả góp
				.col-12.col-lg-6
					.product
						figure
							a.product-img(href="#!")
								img(src="img/pr1.jpg", alt="")
							figcaption
								.product-name Nokia 3
								.product-price
									.old
									.new 2.790.000 đ
								.product-sale
									.title Khuyến mãi
									.content
										ul
											li Tặng Phiếu mua hàng 200.000đ
								.product-btn
									a.btn-primary(href="#!") Mua ngay
									a.btn-secondary(href="#!") Trả góp
				.col-12.col-lg-6
					.product
						figure
							a.product-img(href="#!")
								img(src="img/pr1.jpg", alt="")
							figcaption
								.product-name Nokia 3
								.product-price
									.old
									.new 2.790.000 đ
								.product-sale
									.title Khuyến mãi
									.content
										ul
											li Tặng Phiếu mua hàng 200.000đ
								.product-btn
									a.btn-primary(href="#!") Mua ngay
									a.btn-secondary(href="#!") Trả góp
section.landing-section5
	.container
		.home-title.text-center Tin tức nổi bật
		.landing-news
			.row
				.col-12.col-lg-6.col-xl-7
					.video
						iframe(width='100%', height='350px', src='https://www.youtube.com/embed/Eb8fj-jstNo', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
				.col-12.col-lg-6.col-xl-5
					.post-list
						a.post(href="#!")
							.img
								img(src="img/n1.jpg", alt="")
							.detail
								.name Đánh giá Nokia 3.1: Thiết kế đẹp, camera chụp tốt, phù hợp nhu cầu
								.des Tiếp tục ra mắt thêm những sản phẩm ở phân khúc giá rẻ, Nokia 3.1 là chiếc smartphone 
								time 16/7
						a.post(href="#!")
							.img
								img(src="img/n1.jpg", alt="")
							.detail
								.name Đánh giá Nokia 3.1: Thiết kế đẹp, camera chụp tốt, phù hợp nhu cầu
								.des Tiếp tục ra mắt thêm những sản phẩm ở phân khúc giá rẻ, Nokia 3.1 là chiếc smartphone 
								time 16/7
						a.post(href="#!")
							.img
								img(src="img/n1.jpg", alt="")
							.detail
								.name Đánh giá Nokia 3.1: Thiết kế đẹp, camera chụp tốt, phù hợp nhu cầu
								.des Tiếp tục ra mắt thêm những sản phẩm ở phân khúc giá rẻ, Nokia 3.1 là chiếc smartphone 
								time 16/7