section.landing2-banner
	.banner-img
		img(src="img/landing2/bn1.jpg", alt="")
		.caption Tìm Kiếm Đơn Giản Hơn Để Xem Nhiều Hơn
section.landing2-section1
	.container
		.product-slick
			.item
				.product
					.img
						img(src="img/landing2/pr1.png", alt="")
					.btn-wrap.text-center
						a.btn-buy(href="#!") Mua ngay
			.item
				.product
					.img
						img(src="img/landing2/pr1.png", alt="")
					.btn-wrap.text-center
						a.btn-buy(href="#!") Mua ngay
			.item
				.product
					.img
						img(src="img/landing2/pr1.png", alt="")
					.btn-wrap.text-center
						a.btn-buy(href="#!") Mua ngay
	.intro.text-center Xem Liền Mạch và Dễ Dàng. 
		br
		|Đơn giản hoá mọi thao tác để bạn có phút giây thư giãn trọn vẹn hơn với Q Smart 2018. 
		br
		|Tận hưởng cuộc sống hiện đại với trải nghiệm TV thông minh đỉnh cao.
section.landing2-section2
	.container
		h1.big-title.text-center Chỉ Một Là Đủ
	.intro.content.text-center
		h4
			strong One Remote - Điều Khiển Mọi Thiết Bị
		p Không còn mất thời gian lục tung mọi nơi để tìm đúng điều khiển cho từng thiết bị, ảnh hưởng đến trải nghiệm xem. Bạn chỉ cần một thiết bị duy nhất cho mọi kết nối, tiết kiệm nhiều thời gian và xem nhiều hơn.
	.img.img1
		img(src="img/landing2/img1.jpg", alt="")
section.landing2-section3
	.container
		h2.big-title.text-center Kết Nối Không Giới Hạn Với SmartThings
	.intro.content.text-center
		h4
			strong SmartThings
		p Kết nối liên tục và liền mạch các thiết bị thông minh và gia dụng với SmartThings, từ chiếc tủ lạnh đến điện thoại thông minh của bạn. Tận hưởng cuộc sống hiện đại với tiện ích kết nối thông minh và trực quan khắp mọi nơi ngay trong ngôi nhà của bạn.
	.img.img2
		img(src="img/landing2/img2.jpg", alt="")
section.landing2-section4
	.container
		h2.main-title.text-center Ứng Dụng SmartThings Trong QLED 2018
		.intro.content.text-center
			p SmartThings biến những điều không thể thành hiện thực.
	a.video(href="#!")
		img(src="img/landing2/video.jpg", alt="")
section.landing2-section5
	.container
		.intro
			.title SmartThings biến những điều không thể thành hiện thực.
			.btn-wrap.text-center
				a.btn-viewmore(href="#!") Tìm hiểu thêm
section.landing2-section6
	.container
		h2.main-title.text-center Dễ Dàng Cài Đặt Với Điện Thoại
		.intro.content.text-center
			p Cài đặt bằng điện thoại với 5 bước đơn giản
	.guide-slick
		.item
			.guide
				.img
					img(src="img/landing2/s1.jpg", alt="")
				.name Bật TV. Điện thoại di động và TV của bạn sẽ tự động kết nối với nhau. Bắt đầu cài đặt. 
		.item
			.guide
				.img
					img(src="img/landing2/s1.jpg", alt="")
				.name Bật TV. Điện thoại di động và TV của bạn sẽ tự động kết nối với nhau. Bắt đầu cài đặt. 
		.item
			.guide
				.img
					img(src="img/landing2/s1.jpg", alt="")
				.name Bật TV. Điện thoại di động và TV của bạn sẽ tự động kết nối với nhau. Bắt đầu cài đặt. 
		.item
			.guide
				.img
					img(src="img/landing2/s1.jpg", alt="")
				.name Bật TV. Điện thoại di động và TV của bạn sẽ tự động kết nối với nhau. Bắt đầu cài đặt. 
		.item
			.guide
				.img
					img(src="img/landing2/s1.jpg", alt="")
				.name Bật TV. Điện thoại di động và TV của bạn sẽ tự động kết nối với nhau. Bắt đầu cài đặt. 
section.landing2-feature
	.feature-list
		.feature
			.des
				.feature-title Quản Lý Mọi Thiết Bị Tại Một Nơi
				.content
					h4
						strong Bảng Điều Khiển Các Thiết Bị IoT
					p Trực tiếp quản lý tất cả thiết bị IoT của bạn từ TV. Dễ dàng cài đặt và điều khiển từng thiết bị kết nối ngay trên Bảng Điều Khiển và còn nhiều hơn thế nữa, chỉ từ một nơi.
			.img
				img(src="img/landing2/img3.jpg", alt="")
		.feature
			.des
				.feature-title Quản Lý Mọi Thiết Bị Tại Một Nơi
				.content
					h4
						strong Bảng Điều Khiển Các Thiết Bị IoT
					p Trực tiếp quản lý tất cả thiết bị IoT của bạn từ TV. Dễ dàng cài đặt và điều khiển từng thiết bị kết nối ngay trên Bảng Điều Khiển và còn nhiều hơn thế nữa, chỉ từ một nơi.
			.img
				img(src="img/landing2/img3.jpg", alt="")
		.feature
			.des
				.feature-title Quản Lý Mọi Thiết Bị Tại Một Nơi
				.content
					h4
						strong Bảng Điều Khiển Các Thiết Bị IoT
					p Trực tiếp quản lý tất cả thiết bị IoT của bạn từ TV. Dễ dàng cài đặt và điều khiển từng thiết bị kết nối ngay trên Bảng Điều Khiển và còn nhiều hơn thế nữa, chỉ từ một nơi.
			.img
				img(src="img/landing2/img3.jpg", alt="")
section.landing2-section7
	.container
		h1.main-title.text-center Một Ứng Dụng. Cho Mọi Thiết Bị.
	.intro.content.text-center
		h4
			strong Ứng Dụng SmartThings
		p Bạn có nhiều thiết bị thông minh khác nhau và cần một phương pháp quản lý hiệu quả? Đơn giản tải ứng dụng SmartThings trên điện thoại để quản lý và điều khiển TV cùng tất cả những thiết bị khác trên một màn hình, tại một nơi duy nhất! Một ứng dụng, cho mọi thiết bị.
	.img.img1
		img(src="img/landing2/img4.jpg", alt="")
section.landing-note
	.note
		ul.none
			li *Dịch vụ thông minh và giao diện có thể khác nhau theo dòng sản phẩm và theo quốc gia. 
			li *Các Điều khoản và Điều kiện của Smart Hub và Chính sách Bảo mật cần được đồng ý trước khi sử dụng.
			li *Yêu cầu hệ điều hành hoặc ứng dụng tương thích. 
			li *Nhận diện tự động giữa điện thoại di động và TV có thể khác nhau tùy thuộc vào thiết bị di động. Đối với thiết bị di động không hỗ trợ nhận diện tự động, mở ứng dụng SmartThings để bắt đầu cài đặt.
			li *Cần có Tài Khoản Samsung để thiết lập TV thông qua điện thoại. 
			li *Sản phẩm thực tế và điều khiển từ xa có thể khác so với hình ảnh minh hoạ. 
			li *Sự tương thích của ứng dụng SmartThings trên các thiết bị có thể khác nhau theo từng quốc gia. 
			li *Người sử dụng điện thoại từ dòng Galaxy S6 trở về trước hoặc các thương hiệu di động khác cần tải ứng dụng SmartThings qua cửa hàng ứng dụng.
			li *Dịch vụ Steamlink và giao diện có thể khác nhau theo từng quốc gia. 
			li *Hình ảnh chỉ mang tính chất minh họa. Hình dáng và các thông số thiết kế không ảnh hưởng đến hiệu suất sản phẩm. Các thông số có thể thay đổi mà không cần thông báo trước.
			li *Vui lòng tham khảo chi tiết tại trang thông tin sản phẩm của mỗi dòng.
			li *Các chức năng thông minh yêu cầu điện thoại hoặc thiết bị tương thích.