section.category-page
	nav.category-nav
		ul
			li.active
				a(href="#!")
					.icon
						img(src="img/hc1.png", alt="")
					.name Vali
			li
				a(href="#!")
					.icon
						img(src="img/hc4.png", alt="")
					.name Balo
	.category-content
		.category-list
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc1.png", alt="")
					.name Vali kéo nhựa
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc2.png", alt="")
					.name Vali kéo vải
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc3.jpg", alt="")
					.name Vali kéo trẻ em
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc4.png", alt="")
					.name Balo thời trang
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc5.png", alt="")
					.name Balo phượt
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc6.png", alt="")
					.name Balo trẻ em
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc1.png", alt="")
					.name Vali kéo nhựa
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc2.png", alt="")
					.name Vali kéo vải
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc3.jpg", alt="")
					.name Vali kéo trẻ em
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc4.png", alt="")
					.name Balo thời trang
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc5.png", alt="")
					.name Balo phượt
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc6.png", alt="")
					.name Balo trẻ em
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc1.png", alt="")
					.name Vali kéo nhựa
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc2.png", alt="")
					.name Vali kéo vải
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc3.jpg", alt="")
					.name Vali kéo trẻ em
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc4.png", alt="")
					.name Balo thời trang
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc5.png", alt="")
					.name Balo phượt
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc6.png", alt="")
					.name Balo trẻ em
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc1.png", alt="")
					.name Vali kéo nhựa
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc2.png", alt="")
					.name Vali kéo vải
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc3.jpg", alt="")
					.name Vali kéo trẻ em
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc4.png", alt="")
					.name Balo thời trang
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc5.png", alt="")
					.name Balo phượt
			.item
				a.category-item(href="sanpham.html")
					.img
						img(src="img/hc6.png", alt="")
					.name Balo trẻ em
