include ../_layout/filter
section.product-page
	.btn-filter
		.btn-sort
			.dropdown
				.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') 
				.dropdown-menu(aria-labelledby='dropdownMenuButton')
					a.dropdown-item.active(href='#') Mức độ nổi tiếng
					a.dropdown-item(href='#') Giá từ thấp đến cao
					a.dropdown-item(href='#') Giá từ cao xuống thấp
		.btn-showfilter 
			i.material-icons filter_list
			| Bộ lọc
	.product-list
		.item
			a.product-item(href="sanphamct.html")
				.img
					img(src="img/hc1.png", alt="")
				.caption
					.name Vali kéo nhựa ABC chống trộm
					.price
						.new 135.000 đ
						.old 
							del 270.000 đ
							span - 50%
					.rating 
						select.bar-rating
							option(value='1') 1
							option(value='2') 2
							option(value='3') 3
							option(value='4' selected="selected") 4
							option(value='5') 5
						span (10)
		.item
			a.product-item(href="sanphamct.html")
				.img
					img(src="img/hc2.png", alt="")
				.caption
					.name Vali kéo nhựa ABC chống trộm
					.price
						.new 135.000 đ
						.old 
							del 270.000 đ
							span - 50%
					.rating 
						select.bar-rating
							option(value='1') 1
							option(value='2') 2
							option(value='3') 3
							option(value='4' selected="selected") 4
							option(value='5') 5
						span (10)
		.item
			a.product-item(href="sanphamct.html")
				.img
					img(src="img/hc3.jpg", alt="")
				.caption
					.name Vali kéo nhựa ABC chống trộm
					.price
						.new 135.000 đ
						.old 
							del 270.000 đ
							span - 50%
					.rating 
						select.bar-rating
							option(value='1') 1
							option(value='2') 2
							option(value='3') 3
							option(value='4' selected="selected") 4
							option(value='5') 5
						span (10)
		.item
			a.product-item(href="sanphamct.html")
				.img
					img(src="img/hc4.png", alt="")
				.caption
					.name Vali kéo nhựa ABC chống trộm
					.price
						.new 135.000 đ
						.old 
							del 270.000 đ
							span - 50%
					.rating 
						select.bar-rating
							option(value='1') 1
							option(value='2') 2
							option(value='3') 3
							option(value='4' selected="selected") 4
							option(value='5') 5
						span (10)
		.item
			a.product-item(href="sanphamct.html")
				.img
					img(src="img/hc5.png", alt="")
				.caption
					.name Vali kéo nhựa ABC chống trộm
					.price
						.new 135.000 đ
						.old 
							del 270.000 đ
							span - 50%
					.rating 
						select.bar-rating
							option(value='1') 1
							option(value='2') 2
							option(value='3') 3
							option(value='4' selected="selected") 4
							option(value='5') 5
						span (10)
		.item
			a.product-item(href="sanphamct.html")
				.img
					img(src="img/hc6.png", alt="")
				.caption
					.name Vali kéo nhựa ABC chống trộm
					.price
						.new 135.000 đ
						.old 
							del 270.000 đ
							span - 50%
					.rating 
						select.bar-rating
							option(value='1') 1
							option(value='2') 2
							option(value='3') 3
							option(value='4' selected="selected") 4
							option(value='5') 5
						span (10)
	.pages
		ul.pagination
			li.active
				a(href="#!") 1
			li
				a(href="#!") 2
			li
				a(href="#!") 3
			li
				a(href="#!") 4