section.product-page
	.product-nav.page-scroll
		ul
			li
				a(href="#section1") Tổng quan
			li
				a(href="#section2") Chi tiết
			li
				a(href="#section3") Đánh giá
			li
				a(href="#section4") Sản phẩm đề xuất
			li
				a(href="#section5") Blog

	#section1.product-slide-wrap
		.product-slide
			.item
				a.img(href="img/pr1.png" data-fancybox="img")
					img(src="img/pr1.png", alt="")
			.item
				a.img(href="img/pr1.png" data-fancybox="img")
					img(src="img/pr1.png", alt="")
			.item
				a.img(href="img/pr1.png" data-fancybox="img")
					img(src="img/pr1.png", alt="")
			.item
				a.img(href="img/pr1.png" data-fancybox="img")
					img(src="img/pr1.png", alt="")
	.product-info
		.price
			.new 15.000.000 đ
			.old 
				del 19.000.000 đ
				span -24%
		.name-wrap
			.promotion.sale HOT
			h1.name Vali kéo Lusetti Queenie LT011
		.id Mã sản phẩm: 
			strong LT011
		.brand Thương hiệu:
			strong Lusetti
		.rating
			select.bar-rating
				option(value='1') 1
				option(value='2') 2
				option(value='3') 3
				option(value='4' selected="selected") 4
				option(value='5') 5
			span (10)
		.share
			.dropdown
				a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
					i.material-icons share
				.dropdown-menu(aria-labelledby='dropdownMenuLink')
					.social
						a.fa.fa-facebook(href="#!")
						a.fa.fa-twitter(href="#!")
						a.fa.fa-google-plus(href="#!")
		.btn-wrap
			a.btn-like(href="#!")
		.product-btn
			a.btn-buy(href="#!") Thêm 2 sản phẩm vào giỏ hàng

	.product-option(data-popup="#popup-option")
		label Tùy chọn sản phẩm: 
			span Xanh ngọc, 25
		.option-group.color-group
			.color-list
				a.active(href="#!")
					img(src="img/pr1.png", alt="")
				a(href="#!")
					img(src="img/pr2.png", alt="")
				a(href="#!")
					img(src="img/pr3.png", alt="")
	#popup-option.page-popup.popup-option
		.popup-dialog
			.popup-header
				.close-popup 
					i.material-icons close
			.popup-body
				.product-option
					.option-group.color-group
						label Nhóm màu
						.color-list
							a.active(href="#!")
								img(src="img/pr1.png", alt="")
							a(href="#!")
								img(src="img/pr2.png", alt="")
							a(href="#!")
								img(src="img/pr3.png", alt="")
					.option-group.color-group
						label Kích thước
						.size-list
							a.active(href="#!") 25
							a(href="#!") 28
							a(href="#!") 32
	.product-gift
		ul
			li Thương hiệu chính hãng
			li Bảo hành 5 năm toàn quốc
			li Giao hàng tận nơi, thanh toán toàn quốc
	.product-saleoff
		.title Sản phẩm kèm theo
		.saleoff-list
			.item
				a.saleoff-item.default(href="#!")
					.img
						img(src="img/hc1.png", alt="")
					.caption
						.name Vali kéo thời trang
						.price
							.new 1.000.000đ
							.old 
								del 2.000.000 đ
								span (-50%)
			.item
				a.saleoff-item.active(href="#!")
					.img
						img(src="img/hc1.png", alt="")
					.caption
						.name Vali kéo thời trang
						.price
							.new 1.000.000đ
							.old 
								del 2.000.000 đ
								span (-50%)
			.item
				a.saleoff-item(href="#!")
					.img
						img(src="img/hc1.png", alt="")
					.caption
						.name Vali kéo thời trang
						.price
							.new 1.000.000đ
							.old 
								del 2.000.000 đ
								span (-50%)
		.saleoff-total Tổng tiền:
			.price
				.new 7.000.000 đ
				.old
					del 10.000.000 đ
		//- .btn-wrap
			a.btn-buy(href="#!") Mua 2 sản phẩm
	#section2.product-description
		.title Mô tả chi tiết
		.content
			p Vali kéo nhập khẩu Lusetti Queenie LT011 mang vẻ đẹp mỹ miều của những tâm hồn phái nữ đang yêu. Họa tiết sọc được kết hợp với những màu sắc thời thượng mang lại ấn tượng hấp dẫn vô cùng thu hút với người đối diện. Và với Queenie, bước chân đồng điệu của các Nữ hoàng lại được khởi đầu thật hứng khởi đi khắp thế giới.
			.text-center
				img(src="https://www.lug.vn/Data/Sites/1/media/san-pham/lst011/hinh-1.jpg", alt="")
			p Hàng nhập khẩu từ thương hiệu Ý
			p Vali kéo nhựa được phân phối độc quyền tại Việt Nam bởi LUG.vn từ thương hiệu Lusetti, thương hiệu Ý rất được ưa chuộng tại thị trường nội địa những năm gần đây, và bảo hành 5 năm toàn quốc các lỗi kỹ thuật (theo quy định). Với nhiệt huyết cống hiến và mang đến những giá trị sử dụng cho người tiêu dùng Việt, thương hiệu Lusetti đến từ Ý được xây dựng gắn liền với dòng sản phẩm du lịch để phục vụ nhu cầu mua sắm của những tín đồ mê xê dịch và đam mê khám phá.
			p Chất liệu nhựa P.C
			p Với độ đàn hồi gấp 300 lần nhựa thông thường, nhựa P.C có khả năng chống chịu va đập rất tốt, ngoài ra còn chống thấm nước, chịu nhiệt độ cao. Đồng thời, vali nhựa cứng còn sở hữu bề mặt nhám hạn chế trầy xước khi va chạm.
			.text-center
				img(src="https://www.lug.vn/Data/Sites/1/media/san-pham/lst011/hinh-2.jpg", alt="")
	.product-description
		.title Thông số kỹ thuật
		table.table
			tbody
				tr
					td Mã sản phẩm
					td LT011
				tr
					td Màu sắc
					td Green
				tr
					td Size
					td 25
				tr
					td Số ngăn
					td 3 ngăn
				tr
					td Kích thước
					td 58 x 40,5 x 27 cm
				tr
					td Trọng lượng
					td 3.5 kg
				tr
					td Chất liệu
					td Nhựa cao cấp PC (Polyacbonat) chống trầy xước, thấm nước, chịu nhiệt cao
				tr
					td Bảo hành
					td Hư cần kéo, bánh xe, khoá kéo, ổ khoá, lỗi đứt chỉ và các lỗi kĩ thuật
	#section3.product-comment
		.title Đánh giá & nhận xét
		.comment-frm Tính năng đang nâng cấp...
	#section4.product-relative
		.title Sản phẩm đề xuất
		.product-wrap
			.product-list
				.item
					a.product-item(href="sanphamct.html")
						.img
							img(src="img/hc2.png", alt="")
						.caption
							.name Vali kéo nhựa ABC chống trộm
							.price
								.new 135.000 đ
								.old 
									del 270.000 đ
									span - 50%
							.rating 
								select.bar-rating
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4' selected="selected") 4
									option(value='5') 5
								span (10)
				.item
					a.product-item(href="sanphamct.html")
						.img
							img(src="img/hc3.jpg", alt="")
						.caption
							.name Vali kéo nhựa ABC chống trộm
							.price
								.new 135.000 đ
								.old 
									del 270.000 đ
									span - 50%
							.rating 
								select.bar-rating
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4' selected="selected") 4
									option(value='5') 5
								span (10)
				.item
					a.product-item(href="sanphamct.html")
						.img
							img(src="img/hc4.png", alt="")
						.caption
							.name Vali kéo nhựa ABC chống trộm
							.price
								.new 135.000 đ
								.old 
									del 270.000 đ
									span - 50%
							.rating 
								select.bar-rating
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4' selected="selected") 4
									option(value='5') 5
								span (10)
				.item
					a.product-item(href="sanphamct.html")
						.img
							img(src="img/hc5.png", alt="")
						.caption
							.name Vali kéo nhựa ABC chống trộm
							.price
								.new 135.000 đ
								.old 
									del 270.000 đ
									span - 50%
							.rating 
								select.bar-rating
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4' selected="selected") 4
									option(value='5') 5
								span (10)
	#section5.product-news
		.title Cẩm nang hành lý
		.news-wrap
			.news-list
				.item
					a.news-item(href="#!")
						.img
							img(src="img/n1.jpg", alt="")
						.caption
							.name Tuần Lễ Khai Trương LUG.vn Nguyễn Trãi – Mua Sắm Bất Tận
							time 04/08/2018
				.item
					a.news-item(href="#!")
						.img
							img(src="img/n1.jpg", alt="")
						.caption
							.name Tuần Lễ Khai Trương LUG.vn Nguyễn Trãi – Mua Sắm Bất Tận
							time 04/08/2018
				.item
					a.news-item(href="#!")
						.img
							img(src="img/n1.jpg", alt="")
						.caption
							.name Tuần Lễ Khai Trương LUG.vn Nguyễn Trãi – Mua Sắm Bất Tận
							time 04/08/2018
				.item
					a.news-item(href="#!")
						.img
							img(src="img/n1.jpg", alt="")
						.caption
							.name Tuần Lễ Khai Trương LUG.vn Nguyễn Trãi – Mua Sắm Bất Tận
							time 04/08/2018
		a.btn-viewmore(href="#!") Xem thêm
	.product-news
		.title Tin mới
		.news-wrap
			.news-list
				.item
					a.news-item(href="#!")
						.img
							img(src="img/n1.jpg", alt="")
						.caption
							.name Tuần Lễ Khai Trương LUG.vn Nguyễn Trãi – Mua Sắm Bất Tận
							time 04/08/2018
				.item
					a.news-item(href="#!")
						.img
							img(src="img/n1.jpg", alt="")
						.caption
							.name Tuần Lễ Khai Trương LUG.vn Nguyễn Trãi – Mua Sắm Bất Tận
							time 04/08/2018
				.item
					a.news-item(href="#!")
						.img
							img(src="img/n1.jpg", alt="")
						.caption
							.name Tuần Lễ Khai Trương LUG.vn Nguyễn Trãi – Mua Sắm Bất Tận
							time 04/08/2018
				.item
					a.news-item(href="#!")
						.img
							img(src="img/n1.jpg", alt="")
						.caption
							.name Tuần Lễ Khai Trương LUG.vn Nguyễn Trãi – Mua Sắm Bất Tận
							time 04/08/2018
		a.btn-viewmore(href="#!") Xem thêm
	.product-news
		.title Tin ưu đãi
		.news-wrap
			.news-list
				.item
					a.news-item(href="#!")
						.img
							img(src="img/n1.jpg", alt="")
						.caption
							.name Tuần Lễ Khai Trương LUG.vn Nguyễn Trãi – Mua Sắm Bất Tận
							time 04/08/2018
				.item
					a.news-item(href="#!")
						.img
							img(src="img/n1.jpg", alt="")
						.caption
							.name Tuần Lễ Khai Trương LUG.vn Nguyễn Trãi – Mua Sắm Bất Tận
							time 04/08/2018
				.item
					a.news-item(href="#!")
						.img
							img(src="img/n1.jpg", alt="")
						.caption
							.name Tuần Lễ Khai Trương LUG.vn Nguyễn Trãi – Mua Sắm Bất Tận
							time 04/08/2018
				.item
					a.news-item(href="#!")
						.img
							img(src="img/n1.jpg", alt="")
						.caption
							.name Tuần Lễ Khai Trương LUG.vn Nguyễn Trãi – Mua Sắm Bất Tận
							time 04/08/2018
		a.btn-viewmore(href="#!") Xem thêm