section.news-page
	.news-nav
		ul
			li
				a(href="#!") Tin nổi bật
			li
				a(href="#!") Video
			li.active
				a(href="#!") Cẩm nang hành lý
			li
				a(href="#!") Kinh nghiệm du lịch
			li
				a(href="#!") Lựa chọn của sao
			li
				a(href="#!") Sự kiện nổi bật
	.news-detail
		.news-intro
			img(src="img/n8.jpg", alt="")
			h1.news-name NATIONAL GEOGRAPHIC - THƯƠNG HIỆU XANH VÌ MÔI TRƯỜNG
		.content
			p Ngày 24 tháng 4 năm 2018 - Trong năm thứ tư liên tiếp, National Geographic được xếp hạng là Thương hiệu xã hội hàng đầu bởi công ty phân tích dữ liệu và truyền thông xã hội hàng đầu Shareablee. National Geographic đã đạt hơn 1,6 tỷ hành động trên Facebook, Twitter và Instagram trong năm 2017, tăng từ 1,39 tỷ hành động trong năm 2016.
			.text-center
				img(src="https://www.lug.vn/Data/Sites/1/media/tin-tuc/brand/national/7.jpg", alt="")
			p Trong gần 130 năm, National Geographic với xuất phát điểm là một tạp chí về thiên nhiên và dần đã trở thành tạp chí hàng đầu về du lịch, khoa học và văn hóa. Đến ngày hôm nay, National Geographic phát triển về các sản phẩm du lịch phụ kiện thân thiện với môi trường như vali du lịch, balo phượt, túi máy ảnh,…đồng hành cùng bạn bất cứ nơi nào bạn đi.
			.text-center
				img(src="https://www.lug.vn/Data/Sites/1/media/tin-tuc/brand/national/8.jpg", alt="")
			p Những chiếc vali đẹp mắt được sản xuất với nhiều kích cỡ khác nhau, chất liệu đủ chắc chắn cho bất kỳ nhà thám hiểm nào, tuy vậy vẫn không quên song hành cùng yếu tố thời trang sẽ trở thành bạn đồng hành tuyệt vời cho trẻ em và người lớn ở mọi lứa tuổi.
			.text-center
				img(src="https://www.lug.vn/Data/Sites/1/media/tin-tuc/brand/national/2.jpg", alt="")
			p Sự phát triển thương hiệu bền vững, mang các sản phẩm "xanh" thân thiện với môi trường có lẽ không quá mới mẻ khi mà các thương hiệu đang trong cuộc chạy đua với chất liệu vì môi trường. Tuy nhiên điều mà National Geographic muốn truyền tải ở đây là yếu tố nhân văn, mỗi sản phẩm đến từ National Geographic khi đến tay khách hàng không chỉ nằm ở nguyên liệu mà còn cả ở quá trình sản xuất thủ công, hạn chế những nguyên liệu gây ô nhiễm môi trường. 
			p Mỗi sản phẩm được bán ra từ thương hiệu National Geographic sẽ trích một phần lợi nhuận dành cho các dự án bảo tồn thiên nhiên trên toàn thế giới. Kể từ năm 1888, National Geographic Society đã tài trợ hơn 12.000 dự án nghiên cứu, thăm dò và bảo tồn trên khắp thế giới.
			.text-center
				img(src="https://www.lug.vn/Data/Sites/1/media/tin-tuc/brand/national/6.jpg", alt="")
			.text-center
				img(src="https://www.lug.vn/Data/Sites/1/media/tin-tuc/brand/national/3.jpg", alt="")
			p Mang sứ mệnh bảo tồn thiên nhiên và thế giới hoang dã, National Geographic gửi gắm thông điệp trong từng sản phẩm mình làm ra. Quá trình sản xuất vali National Geographic rất tiên tiến, khép kín và kiểm tra nghiêm ngặt về chất lượng có độ bền và an toàn tốt nhất mang lại sự hài lòng cho khách hàng khó tính nhất.
			p National Geographic có rất nhiều mẫu túi, balo cao cấp với thiết kế tinh tế màu sắc trầm. Vali, túi, balo National Geographic được sử dụng chất liệu cao cấp, tự nhiên. Các sản phẩm của National Geographic dần chiếm được lòng tin của khách hàng và được ưu ái sử dụng góp một phần nhỏ vào các dự án bảo vệ môi trường.
			.text-center
				img(src="https://www.lug.vn/Data/Sites/1/media/tin-tuc/brand/national/4.jpg", alt="")
			p LUG.vn là hệ thống phân phối độc quyền thương hiệu National Geographic quốc tế đầu tiên tại Việt Nam.
			.text-center
				img(src="https://www.lug.vn/Data/Sites/1/media/tin-tuc/brand/national/7.jpg", alt="")
			p LUG.vn không chỉ mang đến cho khách hàng cơ hội sở hữu dễ dàng những sản phẩm đẳng cấp quốc tế mà còn khiến khách hàng hài lòng bằng sự phục vụ tận tình của đội ngũ nhân viên giàu kinh nghiệm.
		.share
			img(src="img/share.jpg", alt="")
	.news-wrap.news-wrap2
		.news-title Tin tức liên quan
		.news-list2
			.item
				a.news-item(href="#!")
					.img
						img(src="img/n8.jpg", alt="")
					.caption
						h1.name [HCM] Săn vali giá sập sàn chỉ 499k
						time 30/07/2018
			.item
				a.news-item(href="#!")
					.img
						img(src="img/n2.jpg", alt="")
					.caption
						h1.name Queenie cùng Hoa Hậu Đỗ Mỹ Linh khẳng định cá tính
						time 30/07/2018
			.item
				a.news-item(href="#!")
					.img
						img(src="img/n3.jpg", alt="")
					.caption
						h1.name Nhựa PC và mọi điều bạn cần biết
						time 30/07/2018
			.item
				a.news-item(href="#!")
					.img
						img(src="img/n4.png", alt="")
					.caption
						h1.name Mua vali du lịch online và những điều nên lưu ý
						time 30/07/2018
			.item
				a.news-item(href="#!")
					.img
						img(src="img/n1.jpg", alt="")
					.caption
						h1.name 6 mẹo cực hay giúp bảo quản vali tại sân bay
						time 30/07/2018
		a.btn-viewmore2(href="#!") Xem thêm
