section.user-page
	.header-hello Xin chào, Nguyen Văn An!
	.user-category
		ul
			li
				a(href="#!")
					i.material-icons person
					span Thông tin tài khoản
			li
				a(href="#!")
					i.material-icons notifications
					span Thông báo của tôi
						.amount 20
			li
				a(href="#!")
					i.material-icons assignment_turned_in
					span Đơn hàng của tôi
			li
				a(href="#!")
					i.material-icons favorite
					span Danh sách yêu thích
			li
				a(href="#!")
					i.material-icons access_time
					span Sản phẩm đã xem
			li
				a(href="#!")
					i.material-icons lock
					span Đổi mật khẩu