section.user-page
	.user-notification
		.user-title Thông báo của tôi
		.notification-list
			.item
				a.notification-item(href="#!")
					.img
						img(src="img/n1.jpg", alt="")
					.caption
						time 19/05/2018
						.name LOCK&LOCK MEGASALE - giảm đến 50% ++. Nhập mã SIEUHOTT8 giảm thêm 50k cho đơn hàng trên 500k. XEM NGAY!
			.item
				a.notification-item(href="#!")
					.img
						img(src="img/n1.jpg", alt="")
					.caption
						time 19/05/2018
						.name LOCK&LOCK MEGASALE - giảm đến 50% ++. Nhập mã SIEUHOTT8 giảm thêm 50k cho đơn hàng trên 500k. XEM NGAY!
			.item
				a.notification-item(href="#!")
					.img
						img(src="img/n1.jpg", alt="")
					.caption
						time 19/05/2018
						.name LOCK&LOCK MEGASALE - giảm đến 50% ++. Nhập mã SIEUHOTT8 giảm thêm 50k cho đơn hàng trên 500k. XEM NGAY!
			.item
				a.notification-item(href="#!")
					.img
						img(src="img/n1.jpg", alt="")
					.caption
						time 19/05/2018
						.name LOCK&LOCK MEGASALE - giảm đến 50% ++. Nhập mã SIEUHOTT8 giảm thêm 50k cho đơn hàng trên 500k. XEM NGAY!
			.item
				a.notification-item(href="#!")
					.img
						img(src="img/n1.jpg", alt="")
					.caption
						time 19/05/2018
						.name LOCK&LOCK MEGASALE - giảm đến 50% ++. Nhập mã SIEUHOTT8 giảm thêm 50k cho đơn hàng trên 500k. XEM NGAY!
			.item
				a.notification-item(href="#!")
					.img
						img(src="img/n1.jpg", alt="")
					.caption
						time 19/05/2018
						.name LOCK&LOCK MEGASALE - giảm đến 50% ++. Nhập mã SIEUHOTT8 giảm thêm 50k cho đơn hàng trên 500k. XEM NGAY!