section.user-page
	.user-order
		.user-title Đơn hàng #204587630514489
			.order-date 20/01/2018
		.order-status.success Tình trạng đơn hàng tại đây
		.order-list
			.item
				.order-item
					.order-product
						a.product(href="#!")
							.img
								img(src="img/hc1.png", alt="")
							.caption
								.name Vali Kéo Lusetti Queenie LT011
								.id Mã sản phẩm: 
									strong LT011
								.option Tùy chọn sản phẩm: 
									span Xanh ngọc, size 25
								.amount Số lượng: 
									strong 2
						a.product(href="#!")
							.img
								img(src="img/hc4.png", alt="")
							.caption
								.name Vali Kéo Lusetti Queenie LT011
								.id Mã sản phẩm: 
									strong LT011
								.option Tùy chọn sản phẩm: 
									span Xanh ngọc, size 25
								.amount Số lượng: 
									strong 2
		.cart-fee
			.group
				.label Tạm tính:
				.value 989.000 ₫
			.group
				.label Phí vận chuyển:
				.value 0 ₫
			.group
				.label Giảm giá:
				.value 0 ₫
			.group.total
				.label Thành tiền:
				.value 989.000 ₫
					.des Giá đã bao gồm VAT
	.user-order
		.user-title Thông tin người nhận
		.buyer-info
			ul
				li
					strong Nguyễn Văn An
				li 156 Nguyễn Văn Thủ, Hồ Chí Minh, Quận 1, Phường Đa Kao
				li 0984567890
				li Thanh toán qua thẻ tín dụng