section.user-page
	.user-order
		.user-title Đơn hàng của tôi
		.order-list
			.item
				.order-item
					.order-header
						.order-id Đơn hàng #204587630514489
						a.btn-orderdetail(href="#!") Chi tiết
						.order-date 20/01/2018
					.order-product
						a.product(href="#!")
							.img
								img(src="img/hc1.png", alt="")
							.caption
								.name Vali Kéo Lusetti Queenie LT011
								.id Mã sản phẩm: 
									strong LT011
								.option Tùy chọn sản phẩm: 
									span Xanh ngọc, size 25
								.amount Số lượng: 
									strong 2
						a.product(href="#!")
							.img
								img(src="img/hc4.png", alt="")
							.caption
								.name Vali Kéo Lusetti Queenie LT011
								.id Mã sản phẩm: 
									strong LT011
								.option Tùy chọn sản phẩm: 
									span Xanh ngọc, size 25
								.amount Số lượng: 
									strong 2
			.item
				.order-item
					.order-header
						.order-id Đơn hàng #204587630514489
						a.btn-orderdetail(href="#!") Chi tiết
						.order-date 20/01/2018
					.order-product
						a.product(href="#!")
							.img
								img(src="img/hc2.png", alt="")
							.caption
								.name Vali Kéo Lusetti Queenie LT011
								.id Mã sản phẩm: 
									strong LT011
								.option Tùy chọn sản phẩm: 
									span Xanh ngọc, size 25
								.amount Số lượng: 
									strong 2