include ../_layout/filter
section.product-page.brand-page
	.brand-nav
		ul.text-center
			li.active
				a(href="#!") Vali
			li
				a(href="#!") Balo
			li
				a(href="#!") Phụ kiện
	//- .brand-list
		.item
			a.brand-item(href="#!")
				img(src="img/brand1.jpg", alt="")
		.item
			a.brand-item(href="#!")
				img(src="img/brand1.jpg", alt="")
		.item
			a.brand-item(href="#!")
				img(src="img/brand1.jpg", alt="")
		.item
			a.brand-item(href="#!")
				img(src="img/brand1.jpg", alt="")
		.item
			a.brand-item(href="#!")
				img(src="img/brand1.jpg", alt="")
		.item
			a.brand-item(href="#!")
				img(src="img/brand1.jpg", alt="")
	.brand-wrap
		.brand-list
			.item
				a.brand-item(href="#!")
					.img
						img(src="img/brand-bn1.jpg", alt="")
					.caption
						.logo
							img(src="img/brand1.jpg", alt="")
						.name ELLE
						.des 250 sản phẩm
			.item
				a.brand-item(href="#!")
					.img
						img(src="img/brand-bn1.jpg", alt="")
					.caption
						.logo
							img(src="img/brand1.jpg", alt="")
						.name ELLE
						.des 250 sản phẩm
			.item
				a.brand-item(href="#!")
					.img
						img(src="img/brand-bn1.jpg", alt="")
					.caption
						.logo
							img(src="img/brand1.jpg", alt="")
						.name ELLE
						.des 250 sản phẩm
			.item
				a.brand-item(href="#!")
					.img
						img(src="img/brand-bn1.jpg", alt="")
					.caption
						.logo
							img(src="img/brand1.jpg", alt="")
						.name ELLE
						.des 250 sản phẩm
			.item
				a.brand-item(href="#!")
					.img
						img(src="img/brand-bn1.jpg", alt="")
					.caption
						.logo
							img(src="img/brand1.jpg", alt="")
						.name ELLE
						.des 250 sản phẩm
	//- .pages
		ul.pagination
			li.active
				a(href="#!") 1
			li
				a(href="#!") 2
			li
				a(href="#!") 3
			li
				a(href="#!") 4