section.user-page
	.user-form
		.user-title Đổi mật khẩu
		.form-wrap
			.form-group
				label Mật khẩu cũ
				input(type="password")
			.form-group
				label Mật khẩu mới
				input(type="password")
			.form-group
				label.pt-0.pb-0 Xác nhận mật khẩu mới
				input(type="password")
			.frm-btn
				input(type="submit", value="Cập nhật")