include ../_layout/filter
section.product-page
	.brand-nav
		ul.text-center
			li.active
				a(href="#!") Vali
			li
				a(href="#!") Balo
			li
				a(href="#!") Phụ kiện
	.brand-list
		.item
			a.brand-item(href="#!")
				img(src="img/brand1.jpg", alt="")
		.item
			a.brand-item(href="#!")
				img(src="img/brand1.jpg", alt="")
		.item
			a.brand-item(href="#!")
				img(src="img/brand1.jpg", alt="")
		.item
			a.brand-item(href="#!")
				img(src="img/brand1.jpg", alt="")
		.item
			a.brand-item(href="#!")
				img(src="img/brand1.jpg", alt="")
		.item
			a.brand-item(href="#!")
				img(src="img/brand1.jpg", alt="")
	.pages
		ul.pagination
			li.active
				a(href="#!") 1
			li
				a(href="#!") 2
			li
				a(href="#!") 3
			li
				a(href="#!") 4